@model Merchant

@{
    ViewData["Title"] = "Add Merchant";
}

<div class="container-fluid">

    <h3 class="fw-bold mb-4">
        <i class="fa-solid fa-plus text-success me-2"></i>
        Add Merchant
    </h3>

    <partial name="_MerchantForm" model="Model" />

</div>