@model Merchant

@{
    ViewData["Title"] = "Edit Merchant";
}

<div class="container-fluid">

    <h3 class="fw-bold mb-4">
        <i class="fa-solid fa-pen text-success me-2"></i>
        Edit Merchant
    </h3>

    <partial name="_MerchantForm" model="Model" />

</div>