@model RoleViewModel

@{
    ViewData["Title"] = "Create Role";
}

<div class="card">
    <div class="card-header">
        <i class="fa-solid fa-plus text-success me-2"></i>
        <strong>Create Role</strong>
    </div>

    <div class="card-body">
        <partial name="_RoleForm" model="Model" />
    </div>
</div>