@model PermissionViewModel

@{
    ViewData["Title"] = "Create Permission";
}

<div class="card">

    <div class="card-header">

        <i class="fa-solid fa-plus text-success me-2"></i>

        <strong>Create Permission</strong>

    </div>

    <div class="card-body">

        <partial name="_PermissionForm" model="Model" />

    </div>

</div>