<div class="row mb-4">

    <div class="col-lg-6 mb-3">
        <div class="card h-100">
            <div class="card-header">
                <i class="fa-solid fa-chart-line me-2 text-success"></i>
                Daily Gross Amount vs Tax Amount
            </div>
            <div class="card-body chart-box">
                <canvas id="amountChart"></canvas>
            </div>
        </div>
    </div>

    <div class="col-lg-6 mb-3">
        <div class="card h-100">
            <div class="card-header">
                <i class="fa-solid fa-chart-column me-2 text-success"></i>
                Daily Transaction Count
            </div>
            <div class="card-body chart-box">
                <canvas id="countChart"></canvas>
            </div>
        </div>
    </div>

</div>