@model UserFormViewModel

@{
    ViewData["Title"] = "Create User";
}

<div class="card">
    <div class="card-header">
        <i class="fas fa-user-plus text-success mr-2"></i>
        Create User
    </div>

    <div class="card-body">
        <partial name="_UserForm" model="Model" />
    </div>
</div>